{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emmanuel Balogun, PhD</title>
    <link rel="icon" type="image/x-icon" href="https://assets.squarespace.com/universal/default-favicon.ico" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <section class="hero-banner">
        <div class="navbar-area">
            <div class="navbar">
                <nav class="site-navbar">
                    <a href="#" class="site-logo">{{full_name}}</a>

                    <!-- site menu/nav -->
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Teaching</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Speaking</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                    <!-- nav-toggler for mobile version only -->
                    <button class="nav-toggler">
                        <span></span>
                    </button>
                </nav>
            </div>
        </div>
        <div class="content-wrap">
            <div class="text-area">
                <div class="title">
                    Emmanuel Balogun, PhD
                </div>
                <div class="subtitle">
                    Associate Professor of Political Science
                </div>
            </div>
        </div>
    </section>
    <section class="about-section">

        <div class="container">
            <div class="content">
                <div class="text-content">
                    <div class="title">ABOUT</div>
                    <div class="paragraphs">
                        Emmanuel Balogun, PhD (@EA_Balogun) is an Associate Professor of Political Science at Skidmore
                        College. His research focuses on African politics, especially how African countries engage with
                        multilateralism to position themselves in international policy. <br> <br>

                        Emmanuel teaches in the Department of Political Science at Skidmore College. He is a Visiting
                        Fellow at the Hoover Institution at Stanford University and a “Good Fellow” with Good Authority.
                        He is formerly an Adjunct Associate Professor at in the Security Studies Program at Georgetown
                        University. He received the 2021 Skidmore College President’s Award for Excellence. View student
                        resources. <br> <br>

                        Emmanuel is a first-generation Nigerian-American. He has a Ph.D. in Political Science and
                        International Relations from the University of Delaware, an M.A. from Western Illinois
                        University, and a B.A. from New England College, where he was a first-generation college
                        student. <br> <br>

                        Emmanuel has published and presented his research internationally. Emmanuel serves on the Board
                        of Trustees at New England College and is a Council on Foreign Relations Term Member. He lives
                        in upstate New York with his family. <br> <br>
                    </div>
                    <div class="read-more">
                        <a href="#" class="btn">Read More About Emmanuel</a>
                    </div>
                </div>
                <div class="image-content">
                    <div class="image">
                        <img src="https://images.squarespace-cdn.com/content/v1/61d36686f4535c37b507a7f1/626f52d2-f6b7-4fa6-a624-1cafd870023e/Emmanuel-Balogun-PhD.jpg?format=2500w"
                            alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="about-section-2">

        <div class="container">
            <div class="content">
                <div class="text-content">
                    <div class="title">Who are the people that keep ECOWAS together?</div>
                    <div class="paragraphs">
                        “This is a major contribution to the growing scholarship on private authority and regional
                        governance in Africa, as well as a refreshing African voice in the new regionalism and
                        comparative regionalism literature."- Okechukwu Iheduru, School of Politics and Global Studies,
                        Arizona State University
                    </div>
                    <div class="read-more">
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </div>
                <div class="image-content">
                    <div class="image">
                        <img src="https://images.squarespace-cdn.com/content/v1/61d36686f4535c37b507a7f1/bcae6426-3d2c-4acb-8704-24c899d1400e/Region-Building+in+West+Africa++Convergence+and+Agency+in+ECOWAS.jpg?format=2500w"
                            alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="carousel">
        <h2 class="carousel-title">Discover</h2>
        <div class="carousel-container">
            <button class="carousel-btn prev-btn">&#8592;</button>
            <div class="carousel-track-container">
                <div class="carousel-content">
                    <ul class="carousel-track">
                        <li class="carousel-slide">
                            <div class="card">
                                <h3>Speaking</h3>
                                <p>Want to invite me to your campus? Do you have consulting needs? Let’s get in touch!
                                </p>
                                <button class="learn-more-btn">Learn More</button>
                            </div>
                        </li>
                        <li class="carousel-slide">
                            <div class="card">
                                <h3>Teaching</h3>
                                <p>Interested in taking a course with me? Need a letter of recommendation? Connect with
                                    me
                                    to learn more about my role in the classroom.</p>
                                <button class="learn-more-btn">Learn More</button>
                            </div>
                        </li>
                        <li class="carousel-slide">
                            <div class="card">
                                <h3>Research</h3>
                                <p>Want to learn more about multilateralism in Africa? Curious about what drives
                                    cooperation
                                    between African countries? Learn more about my research here.</p>
                                <button class="learn-more-btn">Learn More</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="carousel-btn next-btn">&#8594;</button>
        </div>
    </section>
    <section class="footer">
        <div class="footer-container">
            <div class="footer-container-2">
                <div class="footer-content">
                    <div class="left">
                        <div class="title">Emmanuel Balogun, PhD</div>
                        <div class="email"><a href="mailto:ebalogun@skidmore.edu">ebalogun@skidmore.edu</a></div>
                        <div class="search">
                            <form>
                                <input type="text" name="search" placeholder="Search..">
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="site-map">
                            <div class="title">Site Map</div>
                            <div class="section">
                                <div class="part">
                                    <div class="subtitle">About</div>
                                    <div class="links">
                                        <a href="#">Biography</a>
                                        <a href="#">Media Kit</a>
                                        <a href="#">Research</a>
                                    </div>
                                </div>
                                <div class="part">
                                    <div class="subtitle">Media</div>
                                    <div class="links">
                                        <a href="#">Speaking</a>
                                        <a href="#">Publications</a>
                                        <a href="#">Book</a>
                                    </div>
                                </div>
                                <div class="part">
                                    <div class="subtitle">Teaching</div>
                                    <div class="links">
                                        <a href="#">Internship List</a>
                                        <a href="#">Recommendations</a>
                                        <a href="#">Courses Taught</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright-content">
                © 2022 Emmanuel Balogun, PhD | All Rights Reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms
                    + Conditions</a>
            </div>
        </div>
    </section>

    <script src="{% static 'script.js' %}"></script>

</body>

</html>